.form-check-input[type="radio"] {
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.3em;
    border-width: 2px;
    border-color: #2e2f31;
}

.navbar {
    background-color: #077b8a;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 1000;
}
.border-primary {
    border-width: 2px !important;
}

.badge {
    font-size: 0.9rem;
    padding: 0.5em;
}

body {
    padding-top: 100px;
}
.selector {
    text-align: flex;
    justify-content: space-between;
    font-style: bold;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    border-radius: 15px;
}

.card {
    text-align: left;
    margin-left: 0;
}
.card-body {
    margin-left: 0;
}
.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
.samping-card {
    display: inline-block; /* Mengatur agar elemen berada di samping */
    margin-left: 20px; /*Mengatur jarak dari elemen sebelumnya */
}
.all {
    display: flex;
}
.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}
.teks-justify {
    text-align: justify;
}
.scrollable {
    overflow-x: auto;
}
.form-signin {
    max-width: 400px;
    margin: auto;
}

.btn-google {
    background-color: #db4a39;
    color: white;
}

.btn-google:hover {
    background-color: #c23321;
    color: white;
}

.form-floating {
    margin-bottom: 1rem;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

/* Tampilan hanya pada perangkat seluler */
@media screen and (max-width: 767px) {
    /* Sembunyikan kategori ke-5 dan seterusnya */
    .col-md-2:nth-child(n + 5) {
        display: none;
    }
}

/* Tampilan hanya pada perangkat laptop/desktop */
@media screen and (min-width: 768px) {
    /* Sembunyikan tautan "Selengkapnya" */
    .d-md-none {
        display: none;
    }
}
